.container {
    display: flex;
    gap: 24px;
}

.navbar {
    height: 100vh;
    background-color: #337686;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 12px;
}


.navbar-link {
    font-size: 48px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.inactive {
    background-color: #4cb1ca;
}

.active {
    background-color: #2f4247;
}

.navbar-link:hover {
    background-color: #2f4247;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 500px;
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 0.8s forwards;
}

.title {
    color: #2f4247;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}